.footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 72px
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%)
  // background: darken($black, 10)
  text-align: center
  .footer__name
    .footer__link
      text-decoration: none
      outline: none
      font-size: 1.6rem
      font-family: 'Calibri'
      color: $eggshell
  .footer__rights
    color: lighten($darkgrey, 10)
    font-size: 1.35rem