.services
  position: relative
  background: #BAA8A8
  background-image: -webkit-radial-gradient(80% 10%, circle, $eggshell, transparent),-webkit-radial-gradient(80% 50%, circle, #EFDDB7, transparent),-webkit-radial-gradient(50% 50%, 40em 40em, #baa8a8, transparent),-webkit-radial-gradient(10% 10%, circle, #baa8a8, transparent)

  &__title
    padding-top: 100px
    text-align: center
    // color: lighten($white, 50)
    color: #066EF0
    padding-bottom: 80px
    text-shadow: 1px 1px 2px rgba(20,20,20,0.2)

  .grid
    display: grid
    // grid-template-columns: repeat(auto-fill, minmax(min-content, 450px))
    grid-template-columns: repeat(2, minmax(360px, 1fr))
    grid-template-rows: repeat(auto-fit, auto)
    grid-gap: 25px
    justify-content: center
    padding-bottom: 160px
    .services__card
      grid-column: 1 / span 2
      grid-area: span 2
      display: flex
      justify-content: center
      flex-flow: row nowrap
      .flex-col
        margin-right: 20px
        display: flex
        flex-flow: column wrap
      .services__card-title
        color: darken($darkgrey, 20)
      .services__img
      .services__text
        color: $darkgrey
        margin-top: 7px
        max-width: 240px
        line-height: 1.45

    img
      height: 40px 
      width: 50px

@media (max-width: 726px)
  .services
    .grid
      display: block
    .services__text
      padding-bottom: 25px
@media (min-width: 1400px)
  .services
    .grid
      grid-template-columns: repeat(2, minmax(360px, 480px))
      grid-template-rows: auto auto