section.about#about
  .about__photo
    .photo__img
  .about__description
    h2.about__title מי אנחנו? 
    p.about__para לינדה היא מסעדת ביסטרו הממוקמת בעיר הדרומית אשקלון.
                  | במסעדה ניתן להנות מתפריט עשיר אשר כולל בין היתר סטייקים, מנות גורמה, 
                  | בשרים ודגים טריים. ייחודה של המסעדה מתבטא באווירה הרומנטית שיש במקום. 
                  | עיצוב המסעדה משרה שלווה על קהל הלקוחות שמאופיינים באהבתם לאנשים, ליין ובעיקר לאוכל. 
                  | צוות המסעדה נותן לכל אורח שירות אדיב, חם ומחבק.
    button.about__btn.btn--call.-scroll(href="#info") הזמינו מקום !