.header
  //- .container-desk
  .menu-wrap
      ul.menu.menu--left
        li.menu__item
          a.menu__link.-scroll(href="#menus") תפריט
        li.menu__item
          a.menu__link.-scroll(href="#services") אירועים
      .menu__logo
        .logo__img
        //- (src="", alt="Linda's")
      ul.menu.menu--right
        li.menu__item
          a.menu__link.-scroll(href="#about") אודותינו
        li.menu__item
          a.menu__link.-scroll(href="#info") צור קשר

  .header__heading
    h1.heading__title ביסטרו לינדה
    p.heading__subtitle בואו להינות מבשרים ודגים טריים,יין וקינוחים מיוחדים
    button.heading__btn.btn--menu.-scroll(type="submit" href="#menus") התפריט שלנו