.header
  //- .container-desk
  .menu-wrap
      ul.menu.menu--left
        li.menu__item
          a.menu__link(href="") תפריט
        li.menu__item
          a.menu__link(href="") מיוחדים
      .menu__logo
        .logo__img
        //- (src="", alt="Linda's")
      ul.menu.menu--right
        li.menu__item
          a.menu__link(href="") אודותינו
        li.menu__item
          a.menu__link(href="") צור קשר

  .header__heading
    h1.heading__title ביסטרו לינדה
    p.heading__subtitle בואו להינות מבשרים ודגים טריים,יין וקינוחים מיוחדים
    button.heading__btn.btn--menu(type="submit") התפריט שלנו