.info
  .info__overlap
    .overlap__image
    .info__flex
      //- .info__block
      //-   h2.info__title אירועים
      //-   p.info__text בלינדה ניתן לחגוג פרטיים עם עד 80 איש: ימי הולדת, ימי נישואין, בריתות, מסיבת רווקות, ימי כיף עם הצוות ועוד
      .info__block 
        h2.info__title שעות פתיחה
        h4.info__subtitle ראשון עד שישי
        p.info__text 18:00 עד אחרון הלקוחות
        h4.info__subtitle שבת 
        p.info__text 12:00 עד אחרון הלקוחות

    .info__call
      img.call__icon(src="./assets/icons/phone-call-red.png")
      h4.call__title 053-937-7003