include ./mixin.pug

//-  use +menu_item mixin to add dishes with their prices. 
section.linda-menu
        h1.linda-menu__title הצצה לתפריט
        .linda-menu__flex
          //- .linda-menu__entree
            h3.linda-menu__name ראשונות
            //- the menu items
            ul.menu__list
          +typeof_menu('ככה בקטנה')
            +menu_item('סלט חזה עוף', '19 ₪')
            +menu_item('כבד אווז ', '92 ₪')
            +menu_item("סביצ׳ה ים תיכוני", '46 ₪')
            +menu_item("דגים וצ׳יפס", '45 ₪')
            +menu_item("ריזוטו פטריות בגריל", '45 ₪')
            +menu_item("קפרזה ארטישוק", '42 ₪')
            +menu_item("קרפצ׳יו בקר", '45 ₪')
            +menu_item("ירושלמי", '44 ₪')
            +menu_item("כנפיים לוהטות", '39 ₪')
          +typeof_menu('מטעמי השדה')
            +menu_item('סלט עוף תאילנדי', '38/45 ₪')
            +menu_item('סלט קיסר', '36/48 ₪')
            +menu_item('סלט סביח', '52 ₪')
            +menu_item('סלט קלוי', '47 ₪')
          +typeof_menu('איטליה הקטנה')
            +menu_item('פפרדלה אליו אוליו', '58 ₪')
            +menu_item('ניוקי בזיליקום', '62 ₪')
            +menu_item('ראגו בולונז', '62 ₪')
            +menu_item("פטוצ׳יני אלפרדו", '58 ₪')
            +menu_item("אורז צ׳ילי פפר(מנה טבעונית)", '55 ₪')
            +menu_item('פיצה לינדה', '48 ₪')
            +menu_item('פיצה שווארמה', '52 ₪')
            +menu_item('פיצה אנטיפסטי', '48 ₪')
          +typeof_menu('בשר')
            +menu_item('חזה עוף שלם', '44/69 ₪')
            +menu_item('כבדי עוף ובצל מקורמל', '46/69 ₪')
            +menu_item('שניצל עוף', '59 ₪')
            +menu_item('סטייק פרגית', '72 ₪')
            +menu_item('אנטריקות 220/330 גרם', '92/125 ₪')
            +menu_item('פילה בקר', '138 ₪')
            +menu_item('טריו בשר', '158 ₪')
            +menu_item('לינדה בורגר', '64 ₪')
          +typeof_menu('קינוחים')
            +menu_item('מילפיי ברולה', '44 ₪')
            +menu_item('קראמבל תפוחים', '39 ₪')
            +menu_item('גבינה אפויה', '44 ₪')
            +menu_item("פאדג׳", '39 ₪')
            +menu_item("פבלובה פרווה", '39 ₪')
            +menu_item("סופלה פרווה", '38 ₪')
          +typeof_menu('שתייה')
            +menu_item('קפה הפוך', '12/14 ₪')
            +menu_item('שחור', '10 ₪')
            +menu_item('תפוזים טבעי', '13 ₪')
            +menu_item('פלגרינו', '13/24 ₪')
            +menu_item('גולדסטאר מהחבית', '24/28 ₪')
            +menu_item('הייניקן מהחבית', '25/29 ₪')
            +menu_item('פאולנר מהחבית', '28/32 ₪')
            +menu_item('קאווה מהחבית (כוס)', '22 ₪')
            +menu_item('קאווה מהחבית (ללא תחתית)', '45 ₪')
            +menu_item('אייס טי לינדה ספיישל', '25 ₪')