div.overlay.-hidden#modal(tabindex="0")
  a.overlay__close(href="javascript:void(0)") &times;

  .overlay__content
    a.overlay__link.-scroll(href="#menus") תפריט
    a.overlay__link.-scroll(href="#services") שרותי לינדה
    a.overlay__link.-scroll(href="#about") אודותינו
    a.overlay__link.-scroll(href="#info") יצירת קשר
    
