.services
  h1.services__title לינדה מציעה
  .flex
    .grid
      .services__card
        .services__img
          img(src="./assets/icons/birthday-cake.png", alt="")
        .flex-col
          h3.services__card-title ימי הולדת
          p.services__text הזמינו שולחן לשניים או לחלולפין שולחן חברים ותהנו מאווירה מיוחדת וחוויה קולינרית מענגת
      .services__card
        .services__img 
          img(src="./assets/icons/group.png", alt="")
        .flex-col
          h3.services__card-title יום כיף לצוות
          p.services__text חברות וארגונים רבים בוחרים לקיים מפגשי גיבוש וימי כיף במסעדת לינדה והמארגנים מדווחים על ימים מוצלחים וחוזרים ללינדה שוב ושוב.
      .services__card
        .services__img
          img(src="./assets/icons/wedding-ring.png", alt="")
        .flex-col
          h3.services__card-title ימי נישואים
          p.services__text לינדה מספק אווירה ייחודית וחוויה רומנטית לזוגות אשר חוגגים ימי נישואים או אירועים מיוחדים אחרים. 
      .services__card
        .services__img
          img(src="./assets/icons/scooter.png", alt="")
        .flex-col
          h3.services__card-title משלוחים
          p.services__text מסעדת לינדה מציעה שרותי משלוחים עד הבית - עיינו בתפריט, בחרו במנה והתקשרו למספר טלפון המופיע למטה על מנת לבצע הזמנה. 