html(lang="en")
  include ./includes/head.pug
  
  //- Hebrew Right To Left
  body(dir='rtl')

    //- It's A single page website 100%.
    //- Everything kinda speaks for itself here. 
    include ./includes/header.pug
    
    //- include ./includes/overlay.pug
        
    include ./includes/about.pug
    include ./includes/special.pug
    include ./includes/menus.pug
    
    include ./includes/services.pug
    
    include ./includes/info.pug
    
    include ./includes/footer.pug
    
  script(type="module" src="./js/app.js")